---
title: Order a phone from Shane :)
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "applespecialevent0.jpg" %>
  </div>
  <h1></h1>
  <p class="doc">
    <%= link_to "Sign up for updates on the new iPhone 7", "http://eepurl.com/cd5Frf", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
